.idea/
__pycache__/
*.py[cod]
dist/
*.egg-info/
build/
htmlcov/
.coverage*
tests/tmp/*
tests/logs/
!tests/tmp/.gitkeep
pip-wheel-metadata/
.pytest_cache/
*.spec
.python-version
site/
demo.gif
.mypy_cache/
*.sw[po]
pdm.lock
pdm.toml
.pdm-plugins/
.pdm-python
__pypackages__/
.venv/
.ports.json
.cache/
