.idea/
__pycache__/
*.py[cod]
dist/
*.egg-info/
build/
.coverage
tests/tmp/*
tests/logs/
!tests/tmp/.gitkeep
pip-wheel-metadata/
.pytest_cache/
*.spec
.python-version
site/
demo.gif
.mypy_cache/
poetry.lock
*.sw[po]
.venv/
